<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <img alt="img" href="#" src="../assets/reddtie.jpg" >

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"><br>
        <li class="nav-item active">
          <i style="padding-right: 300px;" class="nav-link" >Your Company name is <br> 
             +20 123 456 7890<br>  arwa.khaled2912@gmail.com<br>
             Address Egypt, Alexandria</i>
        </li><br><br>
        <li  class="nav-item">
          <a class="nav-link" href="#">
            Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SiteMap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ContactUs</a>
          </li>
      
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
   
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-collapse ">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav mr-auto">
        <li style="padding-right: 300px;" class="nav-item active">
         
        </li>
        <li >
          <a class="nav-link" href="#">
            submenu1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">submenu2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">submenu3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">submenu4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">submenu5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">submenu6</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">submenu7</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">submenu8</a>
          </li>
         
      </ul>
     
    </div>
  </nav>
  <h1 >Welcome to RedTie!</h1>
  