<table>
<tr>
    <td id="left">
    <div class="sidebar">
    
    <h2>News</h2>
    <br>
    <h5>any</h5>
    <b>paragraphhh</b>

    <h5>Services</h5>
    <b >paragraphhh</b>
    
    <h5 >Contact</h5>
    <b>paragraphhh</b>
  </div>
  </td>
  <th id="right">
<p>Color: Purple，Red+Blue Size: S，M Material: 
    Cotton Length: Cropped Top Wash&Care: Hand Wash Pattern Type:
    Tie Dye Style: Fashion，Casual Neckline: U Neck Sleeve Length: 
    Sleeveless Gender: Women Fabric Content: 51%-70% Cotton Closure Type:
    Pullover Size Chart Inches Centimeters Size Length Bust S 15.16 68+ M 15.55 72+ Size
    Length Bust S 38.5 68+ M 39.5 72+ Warm Tips 1. This Clothing Size
    Information Is Just For Reference Only. Please Check The Above
    Detailed Measurement To Choose The Correct Si.
    Color: Purple，Red+Blue Size: S，M Material: 
    Cotton Length: Cropped Top Wash&Care: Hand Wash Pattern Type:
    Tie Dye Style: Fashion，Casual Neckline: U Neck Sleeve Length: 
    Sleeveless Gender: Women Fabric Content: 51%-70% Cotton Closure Type:
    Pullover Size Chart Inches Centimeters Size Length Bust S 15.16 68+ M 15.55 72+ Size
    Length Bust S 38.5 68+ M 39.5 72+ Warm Tips 1. This Clothing Size
    Information Is Just For Reference Only. Please Check The Above
    Detailed Measurement To Choose The Correct Si
    Color: Purple，Red+Blue Size: S，M Material: 
    Cotton Length: Cropped Top Wash&Care: Hand Wash Pattern Type:
    Tie Dye Style: Fashion，Casual Neckline: U Neck Sleeve Length: 
    Sleeveless Gender: Women Fabric Content: 51%-70% Cotton Closure Type:
    Pullover Size Chart Inches Centimeters Size Length Bust S 15.16 68+ M 15.55 72+ Size
    Length Bust S 38.5 68+ M 39.5 72+ Warm Tips 1. This Clothing Size
    Information Is Just For Reference Only. Please Check The Above
    Detailed Measurement To Choose The Correct Si
  
</p></th>

</tr>
</table>